shader/fragment.glsl
shader/vertex.glsl
system/Object.py
object/Cube.py
system/Skybox.py
system/__pycache__/Camera.cpython-311.pyc
util/__pycache__/__init__.cpython-311.pyc
util/__pycache__/Angle.cpython-311.pyc
util/__pycache__/clamp.cpython-311.pyc
util/__pycache__/lerp.cpython-311.pyc
util/__pycache__/Quaternion.cpython-311.pyc
util/__pycache__/Vec3.cpython-311.pyc
.gitignore